body {
    background-image: url('assets/bg2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-size: cover;
}

.container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(0.5vh);
    -webkit-backdrop-filter: blur(0.5vh);
    border-radius: 3vh;
    border: 0.5vh solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 1vh 3vh 0 rgba(0, 0, 0, 0.37);
    width: 43vh;
    height: 43vh;
    position: relative;
    left: 81.4vh;
    top: 23vh;
}

.avatar {
    width: 17vh;
    border-radius: 100%;
    position: absolute;
    left: 46.5%;
    top: 27%;
    box-shadow: 0 1vh 3vh 0 rgba(0, 0, 0, 0.37);
    border-color: white;
    border-style: solid;
}

.name {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    position: absolute;
    font-size: 3.4vh;
    top: 42.7vh;
    left: 46.4%;
}

.btn1 {
    width: 20px;
    color: white;
    font-size: 4vh;
    position: absolute;
    top: 60%;
    left: 46%;
}

.btn2 {
    width: 20px;
    color: white;
    font-size: 4vh;
    position: absolute;
    top: 60%;
    left: 49.7%;
}

.btn3 {
    width: 20px;
    color: white;
    display: inline-flex;
    font-size: 4vh;
    position: absolute;
    top: 60%;
    left: 53%;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    color: rgba(255, 255, 255, 0.322);
    transition-duration: 0.3s;

}

.text {
    color: white;
    font-size: 1.8vh;
    font-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    position: absolute;
    width: 40vh;
    left: 42%;
    top: 48vh;
}